<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Untitled</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="assets/css/Articale-List-With-Image-Zoom.css">
    <link rel="stylesheet" href="assets/css/Article-Cards.css">
    <link rel="stylesheet" href="assets/css/BreakingNews-1.css">
    <link rel="stylesheet" href="assets/css/BreakingNews.css">
    <link rel="stylesheet" href="assets/css/Contact-Form-v2-Modal--Full-with-Google-Map.css">
    <link rel="stylesheet" href="assets/css/Footer-Basic.css">
    <link rel="stylesheet" href="assets/css/footer-ultimate.css">
    <link rel="stylesheet" href="assets/css/Highlight-Blue.css">
    <link rel="stylesheet" href="assets/css/Highlight-Phone.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.4.8/swiper-bundle.min.css">
    <link rel="stylesheet" href="assets/css/Main-Content.css">
    <link rel="stylesheet" href="assets/css/Map-Location-5.css">
    <link rel="stylesheet" href="assets/css/MAV_StickyButton_ContatShare.css">
    <link rel="stylesheet" href="assets/css/Navigation-Clean.css">
    <link rel="stylesheet" href="assets/css/NewsHeaher-1.css">
    <link rel="stylesheet" href="assets/css/NewsHeaher.css">
    <link rel="stylesheet" href="assets/css/Newsletter.css">
    <link rel="stylesheet" href="assets/css/project-card.css">
    <link rel="stylesheet" href="assets/css/Projects-Horizontal.css">
    <link rel="stylesheet" href="assets/css/Simple-Slider.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-lg navigation-clean" style="color: var(--bs-danger);">
        <div class="container"><a class="navbar-brand" href="#">SI-DESA</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"></li>
                    <li class="nav-item"><a class="nav-link" href="#">BERANDA</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">BERITA</a></li>
                    <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#">ASPIRASI</a>
                        <div class="dropdown-menu"><a class="dropdown-item" href="#">First Item</a><a class="dropdown-item" href="#">Second Item</a><a class="dropdown-item" href="#">Third Item</a><a class="dropdown-item" href="#">Menu Item</a></div>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="#">KONTAK</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">MASUK</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">DAFTAR</a></li>
                </ul>
            </div>
        </div>
    </nav><div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="newsticker-container">
                    <div id="newsticker-colour" class="slideup animated"></div>
                    <span class="newsticker-title delay-animated slidein text-center">
Berita
                    </span>
                    <div class="newsticker">
                      <ul class="newsticker-list">
                        <li class="newsticker-item">Berita</li>
                        <li class="newsticker-item">Actualité 2</li>
                        <li class="newsticker-item">Actualité 3</li>
                      </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <div>
        <div class="container">
            <h1>Heading</h1>
            <p>Paragraph</p>
            <div><a class="btn btn-outline-primary" role="button" href="#">← Back</a><a class="btn btn-outline-primary float-end" role="button" href="#">Next →</a></div>
        </div>
    </div><div class="newsletter8 py-5">
  <div class="container">
    <div class="row">
      <!-- column  -->
      <div class="col-lg-5">
        <h6 class="text-themecolor font-weight-normal text-uppercase">newsletter</h6>
        <h4 class="my-3">Stay informed about new and upcoming causes</h4>
        <h6 class="subtitle mt-3 font-weight-normal">It has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</h6>
        <form class="mt-4">
          <div class="form-group">
            <input class="form-control" type="text" placeholder="Your Name" />
          </div>
          <div class="form-group">
            <input class="form-control" type="email" placeholder="Email Address" />
          </div>
          <div class="form-group">
            <button class="btn btn-danger-gradiant btn-block btn-md text-uppercase text-white border-0">Subscribe </button>
          </div>
          <div class="form-group">
            <div class="my-1">
              <div class="custom-control custom-checkbox mr-sm-2">
                <input type="checkbox" class="custom-control-input" id="customControlAutosizing1">
                <label class="custom-control-label" for="customControlAutosizing1">I have read and agree to the <a href="#" class="text-decoration-none">terms and conditions</a></label>
              </div>
            </div>
          </div>
        </form>
      </div>
      <!-- column  -->
      <div class="col-lg-6 ml-auto">
        <div class="d-block d-md-flex border-bottom pb-3 text-uppercase">
          <h6 class="no-shrink font-weight-medium align-self-center m-b-0">Latest News</h6>
          <a class="ml-auto text-danger align-self-center text-decoration-none" href="#">View All</a>
        </div>
        <div class="row blog-row mt-4 mb-3">
          <div class="col-md-4">
            <a href="#"><img src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/blog/blog-home/img12.jpg" alt="wrapkit" class="img-fluid" /></a>
          </div>
          <div class="col-md-8">
            <h5><a href="#" class="text-decoration-none">The Universe is all of time and space and its contents.</a></h5>
            <p>by <a href="#" class="text-decoration-none">Mark Freeman</a> / 23 May 2017</p>
          </div>
        </div>
        <div class="row blog-row my-3">
          <div class="col-md-4">
            <a href="#"><img src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/blog/blog-home/img13.jpg" alt="wrapkit" class="img-fluid" /></a>
          </div>
          <div class="col-md-8">
            <h5><a href="#" class="text-decoration-none">Pellentesque mollis eros quis massa interdum porta et vel.</a></h5>
            <p>by <a href="#" class="text-decoration-none">Mark Freeman</a> / 23 May 2017</p>
          </div>
        </div>
        <div class="row blog-row my-3">
          <div class="col-md-4">
            <a href="#"><img src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/blog/blog-home/img14.jpg" alt="wrapkit" class="img-fluid" /></a>
          </div>
          <div class="col-md-8">
            <h5><a href="#" class="text-decoration-none">Duis vel viverra quamam molesvulputate femy.</a></h5>
            <p>by <a href="#" class="text-decoration-none">Mark Freeman</a> / 23 May 2017</p>
          </div>
        </div>
      </div>
      <!-- column  -->
    </div>
  </div>
</div>
    <div>
        <footer class="footer-basic">
            <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a></div>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="#">Home</a></li>
                <li class="list-inline-item"><a href="#">Services</a></li>
                <li class="list-inline-item"><a href="#">About</a></li>
                <li class="list-inline-item"><a href="#">Terms</a></li>
                <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
            </ul>
            <p class="copyright">Company Name © 2022</p>
        </footer>
    </div>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/Contact-Form-v2-Modal--Full-with-Google-Map.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sharer.js@latest/sharer.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.4.8/swiper-bundle.min.js"></script>
    <script src="assets/js/Map-Location-5.js"></script>
    <script src="assets/js/NewsHeaher.js"></script>
    <script src="assets/js/Simple-Slider.js"></script>
</body>

</html>